<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="School_Project.Properties.Settings.SchoolProjectConnectionString"
            connectionString="Data Source=WIN-K94OOO3DLN6\SQL2019;Initial Catalog=SchoolProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>